<style>
	table {
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid black;
		padding: 8px;
	}

	th {
		background: rgba(91,91,91, 0.4)
	}

	.indicator {
		font-weight: bold;
		font-size: large;
	}

	.cell {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.arrow-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.arrow-indicator {
		font-size: small;
	}
</style>
<table>
	<tr>
		<th>Institut/Typ</th>
		<th>Vorlesungen</th>
		<th>Seminare, SWP</th>
		<th>Übungen/Tutorien</th>
	</tr>
	<tr>
		<th>Bioinformatik</th>
		<td>
			<div class="cell">
				<span class="indicator">%BIO-VL%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%BIO-VL-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%BIO-VL-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%BIO-VL-IND%</span>
				</div>
			</div>
		</td>
		<td>
			<div class="cell">
				<span class="indicator">%BIO-S%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%BIO-S-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%BIO-S-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%BIO-S-IND%</span>
				</div>
			</div>
		</td>
		<td>
			<div class="cell">
				<span class="indicator">%BIO-U%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%BIO-U-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%BIO-U-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%BIO-U-IND%</span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Informatik</th>
		<td>
			<div class="cell">
				<span class="indicator">%CS-VL%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%CS-VL-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%CS-VL-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%CS-VL-IND%</span>
				</div>
			</div>
		</td>
		<td>
			<div class="cell">
				<span class="indicator">%CS-S%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%CS-S-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%CS-S-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%CS-S-IND%</span>
				</div>
			</div>
		</td>
		<td>
			<div class="cell">
				<span class="indicator">%CS-U%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%CS-U-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%CS-U-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%CS-U-IND%</span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Mathematik</th>
		<td>
			<div class="cell">
				<span class="indicator">%MATH-VL%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%MATH-VL-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%MATH-VL-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%MATH-VL-IND%</span>
				</div>
			</div>
		</td>
		<td>
			<div class="cell">
				<span class="indicator">%MATH-S%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%MATH-S-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%MATH-S-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%MATH-S-IND%</span>
				</div>
			</div>
		</td>
		<td>
			<div class="cell">
				<span class="indicator">%MATH-U%</span>
				<div class="arrow-container">
					<div class="arrow" style="transform: rotate(%MATH-U-ROT%deg)">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 24 12" fill="%MATH-U-ARROW%">
							<path d="M17.8356 4.67433H0.35791L0.35791 7.32568L17.8356 7.32568V11.3027L23.6421 6L17.8356 0.697296V4.67433Z"/>
						</svg>
					</div>
					<span class="arrow-indicator">%MATH-U-IND%</span>
				</div>
			</div>
		</td>
	</tr>
</table>